Django==1.7.6
Flask==0.10.1
Flask-PyMongo==0.3.0
Flask-RESTful==0.3.2
Jinja2==2.7.3
MarkupSafe==0.23
Scrapy==1.0.0rc1
Twisted==15.3.0
Werkzeug==0.10.1
aniso8601==0.92
bcrypt==2.0.0
cffi==1.2.1
characteristic==14.3.0
cryptography==0.8
cssselect==0.9.1
demjson==2.2.2
enum34==1.0.4
gevent==1.0.2
greenlet==0.4.9
grequests==0.2.0
itsdangerous==0.24
loginform==1.0
lxml==3.4.4
mongokit==0.9.1.1
pyOpenSSL==0.15.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.14
pymongo==3.0.3
pytz==2015.2
queuelib==1.2.2
requests==2.5.3
scrapy-dblite==0.2.5
-e git://github.com/scrapinghub/scrapyrt#egg=scrapyrt
service-identity==1.0.0
simplejson==3.6.5
six==1.9.0
w3lib==1.12.0
wsgiref==0.1.2
zope.interface==4.1.2
